<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Room</title>
{% endblock %}

{% block content %}
<div class="container">

<section>
    <div class="d-grid gap-2">
        
        <a class="nav-link text-center display-6" href="/account/myaccount">Hello, {{request.user.username}}</a>
        <button class="btn btn-primary" type="submit" id="Create"><h1 class="display-6" style="background-color: green;">Game created</h1>  </button>
        <button class="btn btn-primary" type="submit" id="Join"><h1 class="display-6" style="background-color: green;">Games played </h1> </button>
        

    </div>
 
  <h4 id="error"></h4>
</section>
</div>


<script>
    document.querySelector('#Join').onclick = function(e){

        var url =  window.location.origin +'/account/played';
        history.pushState({}, null, url);
        location.reload()   

    };

    document.getElementById('Create').onclick = function(e) {
        var url =  window.location.origin +'/account/myaccount';
        history.pushState({}, null, url);
        location.reload()  
    }
    
</script>
{% endblock %}