<!DOCTYPE html>
<html>
<head>
	<title>QR Code Scanner</title>
  <script src="https://cdn.jsdelivr.net/npm/@zxing/library@0.18.4"></script>
      {{ room_code|json_script:'json-roomcode' }}

	<script>
		const codeReader = new ZXing.BrowserQRCodeReader();
		codeReader.decodeFromInputVideoDevice(undefined, 'video').then((result) => {
			// Send WebSocket message with scanned code
      
      const roomCode = JSON.parse(document.getElementById('json-roomcode').textContent);

      const ws = new WebSocket('wss://' + window.location.host + '/ws/' + roomCode + '/quiz/');
			ws.onopen = function(event) {
				ws.send(JSON.stringify({'exam':result.text}));
        console.log('khara')
			};
		}).catch((err) => {
			console.error(err);
		});
	</script>
</head>
<body>
	<video id="video" width="300" height="200" autoplay="autoplay"></video>
</body>
</html>
