<!DOCTYPE html>
<html>
<head>
  <title>QR Code Scanner</title>
  <script src="https://unpkg.com/@zxing/library@0.22.0@zxing.min.js"></script>
</head>
<body>
  <h1>QR Code Scanner</h1>
  <video id="video" width="320" height="240"></video>
  <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
  <div id="result"></div>
  <script>
    const codeReader = new ZXing.BrowserMultiFormatReader();
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const result = document.getElementById('result');

    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
        video.play();
      })
      .catch(function (err) {
        console.log(err);
      });

    codeReader.decodeFromVideoDevice(null, 'video', function (result) {
      console.log(result);
      canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
      codeReader.reset();
      resultDiv.innerHTML = result.text;
    }, function (err) {
      console.log(err);
      codeReader.reset();
    });
  </script>
</body>
</html>
