{% extends 'base.html' %}
{% block title %}
<title>Create New room</title>
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                        </li>
                    {% endfor %}
        <label for="exampleInputEmail1">أدخل كود kالغرفة</label>
        <input type="number" class="form-control" name="roomname" value="{{roomcode}}" id="code" placeholder="أدخل كود الغرفة">  
        <label for="exampleInputPassword1">أدخل الإسم</label>
        <input type="text" maxlength="15" name="username" class="form-control" value="{{request.user.username}}" id="username" placeholder="أدخل الإسم" disabled>
      

        <button type="submit" id="admin" class="form-control">Admin</button>
        <script>
            
             document.querySelector('#admin').onclick = function(e){
                var roomCode = document.querySelector('#code').value;
                var userName = document.querySelector('#username').value;
                const gameSocket = new WebSocket(
        
                'wss://' + window.location.host + '/ws/' + roomCode + '/admin/'
              )
              gameSocket.onopen=function(e){
                gameSocket.send(JSON.stringify({
                    'room' : roomCode,
                    'nogame':'no'
                  
                  }))  
                  doStuff()
                  async function doStuff(){
                   // Code to run before sleep
                  
                   // Sleep for 3 seconds
                   await new Promise(r => setTimeout(r, 3000));
                    var url =  window.location.origin + '/' +roomCode + '/admin';
                    history.pushState({}, null, url);
                    location.reload()   
                  }
              }
                
                

            };
            function func(id){
                document.getElementById('btn').innerHTML = id;
            }
          </script>
{% else %}
        <button type="submit" id="SignUp" class="form-control">SignUp</button>
        <button type="submit" id="Login" class="form-control">Login</button>

        <script>
            document.getElementById('SignUp').onclick = function(e) {
                window.location.replace('account/signup');
            }

            document.getElementById('Login').onclick = function(e) {
                window.location.replace('account/login');
            }
        </script>

{% endif %}
{% endblock %}