{% extends 'base.html' %}
{% block title %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Create New room</title>
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}

                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                        </li>
                    {% endfor %}
        <div  dir="ltr">
        <label style="color: white" for="exampleInputEmail1">ENTER ROOM CODE</label>
        <input type="number" class="form-control" name="roomname" value="{{roomcode}}" id="code" placeholder="ROOM CODE">  
        <label style="color: white" for="exampleInputPassword1">ADMIN NAME</label>
        <input type="text" maxlength="15" name="username" class="form-control" value="{{request.user.username}}" id="username" placeholder="ADMIN NAME" disabled>
      
        <div class="form-group row">
            <div class="col-sm-10">
              <button type="button" id="admin" class="btn btn-primary btn-md">Create &amp; Admin</button>
            </div>
          </div>
        </div>
        <script>
             document.querySelector('#admin').onclick = function(e){
                var roomCode = document.querySelector('#code').value;
                var userName = document.querySelector('#username').value;
                if(isNaN(parseInt(roomCode))){
                    alert('Error, pleasr enter numbers')
                }
                else{
                    if (roomCode.toString().length <9){
                    var url =  window.location.origin + '/' +roomCode + '/admin';
                history.pushState({}, null, url);
                location.reload()  
            }
            else{
                alert('Error, It should be less than 9 digits')
            }  
                }
               

            };
            function func(id){
                document.getElementById('btn').innerHTML = id;
            }
          </script>
{% else %}
        <button type="submit" id="SignUp" class="form-control">SignUp</button>
        <button type="submit" id="Login" class="form-control">Login</button>

        <script>
            document.getElementById('SignUp').onclick = function(e) {
                window.location.replace('account/signup');
            }

            document.getElementById('Login').onclick = function(e) {
                window.location.replace('account/login');
            }
        </script>

{% endif %}
{% endblock %}