{% extends 'base.html' %}
{% block title %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Rank</title>
{% endblock %}

{% block content %}
<div id="myrank"></div>
<table class="table table-bordered border-primary" id="table'+ u +'">
    <thead>
      <tr>
        <th style="font-size:20px;" scope="col">الترتيب</th>
        <th style="font-size:20px;" scope="col">اللاعب </th>
        <th style="font-size:20px;" scope="col">مجموع </th>
      </tr>
    </thead>
    <tbody id="divv">
  
    </tbody>
    
</table>
{{z}}
{{ room|json_script:'json-rr' }}

{{ user|json_script:'json-user' }}

<script>
    const roomCode = JSON.parse(document.getElementById('json-rr').textContent);

    const usernamee = JSON.parse(document.getElementById('json-user').textContent);

    const gameSocketlettr = new WebSocket(
        'wss://' + window.location.host + '/ws/' + roomCode + '/letter/'
        )
        gameSocketlettr.onmessage=function(e){
            const data = JSON.parse(e.data);
            if (data.players_final===usernamee){
              document.getElementById('myrank').innerHTML+=(
                `<h3>Your rank is `+data.rank+`</h3>`
              )
            }

            document.getElementById('divv').innerHTML+=(
                "<tr>"+ 
                    "<td style='font-size:18px;' id = 'letter'>"+ data.rank +"</td>"+
                    "<td style='font-size:18px;' id = 'noun'>"+ data.players_final +"</td>"+
                    "<td style='font-size:18px;' id = 'room'>"+ data.players_final_res +"</td>"+

                    
                  "</tr>"
            )

        }
        while(document.getElementById('bare')){
            document.getElementById('bare').remove()
          }
          
</script>
{% endblock %}
