{% extends 'base.html' %}
{% block title %}
<title>Rank</title>

{% endblock %}

{% block content %}
{{user}}
<!--...
{{z}}
-->
{{ user|json_script:'json-roomcode' }}


<script>
    const user = JSON.parse(document.getElementById('json-roomcode').textContent);
    console.log('eeew;',user)
    console.log('eeew;',[user])

    console.log('eeew;',user.split(","))
    cos=user.split(",")
    const sin =[]
    for(x of cos){
        if(typeof x ==="string"){

        }
        else{
            sin.push(x)
        }
    }
    tan=Math.max(sin)
    csc=cos.indexOf(tan)
    console.log('winner is',cos[csc-1])

</script>
{% endblock %}
