{% extends 'base.html' %}
{% block title %}
<title>Rank</title>

{% endblock %}

{% block content %}
{{user}}
<!--...
{{z}}
-->
{{ user|json_script:'json-roomcode' }}


<script>
    const user = JSON.parse(document.getElementById('json-roomcode').textContent);
    console.log('eeew;',user)
    console.log('eeew;',[user])

    console.log('eeew;',user.split(","))
    cos=user.split(",")
    const sin =[]
    for(x of cos){
        if(isNaN(parseInt(x))){

        }
        else{
            y=parseInt(x)
            sin.push(y)
        }
    }
    while(sin.length!==0){
    tan=Math.max.apply(Math,sin)
    const index = sin.indexOf(tan);
    sin.splice(index, 1); 
    
    cotangent=tan.toString()
    csc=cos.indexOf(cotangent)
    
    console.log('winner is',cos[csc-1],tan)
}
</script>
{% endblock %}
