<meta name="viewport" content="width=device-width, initial-scale=1">

<div dir="rtl">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Noto Sans Arabic' rel='stylesheet'>

<style>
* {
    font-family: 'Noto Sans Arabic';font-size: 22px;
}
</style>

<section class="pb-4" id="timing">
  <div class="bg-white border rounded-5">
    
    <section class="  d-flex justify-content-center my-4 w-100">
      <div class="container">
        <div class="alert alert-dismissible fade show alert-warning" role="alert" data-mdb-color="warning" id="customxD">
          <strong>You have 10 seconds</strong> You should check in on some of those fields below.
          <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </section>
    
    
  </div>
</section>    
<section  id="table">
     
    <h3>الحرف هو: <h3 id="leetter">{{the_letter}}</h3> </h3>
    <form method="GET" action="send">
    <div class="table-responsive">
        <table class="table">

            <tr>

                <td class="active"><input required id="noun" name="noun" type="text" class="form-control" id="exampleInputAmount" placeholder=" اسم صبيان"><span id="errornoun"></span></td>
                <td class="success"><input required id="gnoun" name="gnoun" type="text" class="form-control" id="exampleInputAmount" placeholder="اسم بنات "><span id="errorgnoun"></span></td>
                <td class="warning"><input required id="animal" name="animal" type="text" class="form-control" id="exampleInputAmount" placeholder="حيوان"><span id="erroranimal"></span></td>
                <td class="danger"><input required id="plants" name="plants" type="text" class="form-control" id="exampleInputAmount" placeholder="نبات"><span id="errorplants"></span></td>
                <td class="info"><input required id="countries" name="countries" type="text" class="form-control" id="exampleInputAmount" placeholder="بلاد"><span id="errorcountr"></span></td>
                <td class="active"><input required id="inanimate" name="inanimate" type="text" class="form-control" id="exampleInputAmount" placeholder="جماد"><span id="errorinta"></span></td>
                <td class="success"><input required id="sum" name="sum" type="text" class="form-control" id="exampleInputAmount" placeholder="مجموع"></td>
            </tr>
        </table>
      </div>
      <h1 id="test"></h1>

    </form>
    <button type="submit" id="done" class="btn btn-primary">Next</button>
    <h3 id="message">

    </h3>
  </section>
 <style>
 
  
  .hiddenRow {
      padding: 0 !important;
  }
  tbody tr.info td:hover {
    color: #000;
   
    cursor: pointer;
  }
  html, body {
    width: 100%;
    height:100%;
    background-color: #ADD8E6;

  }
 </style>
  <section id="other"></section>
    {{ room_code|json_script:'json-roomcode' }}
    {{ username|json_script:'json-username' }}
    {{ the_letter|json_script:'json-the_letter' }}
    <script>
     
  

      all()
      function all(e){
        
        document.getElementById('timing').style.display='none'
      
      window.onbeforeunload = function (e) {
        e = e || window.event;
    
        // For IE and Firefox prior to version 4
        if (e) {
            e.returnValue = 'Sure?';
        }
    
        // For Safari
        return 'Sure?';
    };
      const roomCode = JSON.parse(document.getElementById('json-roomcode').textContent);
      const username = JSON.parse(document.getElementById('json-username').textContent);
      const the_letter = JSON.parse(document.getElementById('json-the_letter').textContent);


      const gameSocket = new WebSocket(
        'wss://' + window.location.host + '/ws/' + roomCode + '/'
      )
      gameSocket.onclose=function(e){
        gameSocket=null
        const gameSocket = new WebSocket(
        'wss://' + window.location.host + '/ws/' + roomCode + '/'
      )
      }
     // console.log('DRE IS ' , gameSocket)
      
      console.log(gameSocket)
      gameSocket.onopen = function(e){
        gameSocket.send(JSON.stringify({
          'ready':true
        }))
      gameSocket.onmessage = function (e) {
        gameSocket.onclose=function(e){
          gameSocket=null
          const gameSocket = new WebSocket(
          'wss://' + window.location.host + '/ws/' + roomCode + '/'
        )}
        const data = JSON.parse(e.data);
        if (data.letterconsumer!==null&&typeof data.letterconsumer!=="undefined"&&data.letterconsumer!=="" &&data.letterconsumer!==false){
          console.log('yeeesa')
          document.querySelector('#leetter').innerHTML =(data.letterconsumer);
          document.getElementById('noun').disabled=false
          document.getElementById('gnoun').disabled=false
          document.getElementById('animal').disabled=false
          document.getElementById('plants').disabled=false
          document.getElementById('countries').disabled=false
          document.getElementById('inanimate').disabled=false
          document.getElementById('sum').disabled=false
          console.log('foirhguipgbiergpr')

        }
        console.log('fisrt data.',data)
       if (data.kick === true ){
        if (data.user === username){
          gameSocket.close()
          var url =  window.location.origin +'/join';
          history.pushState({}, null, url);
          location.reload()   
          console.log('I have been kicked')
        }
        if (data.user !== username){
          document.getElementById('div_id'+data.user).remove()
        }
       }
       
        
      
       if (data.pret===true && data.disabled===true){
        if (data.last===false){

            // Code to run before sleep
           
            // Sleep for 3 seconds
         
            // Code to run after sleep
            const word = document.querySelector('#noun');
            const noun = word.value;
            const wordgnoun = document.querySelector('#gnoun');
            const gnoun = wordgnoun.value;
            const wordanimal = document.querySelector('#animal');
            const animal = wordanimal.value;
            const wordplants = document.querySelector('#plants');
            const plants = wordplants.value;
            const wordcountries = document.querySelector('#countries');
            const countries = wordcountries.value;
            const wordinanimate = document.querySelector('#inanimate');
            const inanimate = wordinanimate.value;
            const wordsum = document.querySelector('#sum');
            const sum = wordsum.value;
            const admin_letterr =document.getElementById('leetter');
            const admin_letter = admin_letterr.textContent;
            console.log('leeter usa',noun,
            gnoun,
            animal)
            console.log(noun);
            console.log('here is it',gameSocket.onmessage)
            if(noun ==='' || gnoun==='' || animal==='' || plants==='' || countries==='' || inanimate===''){
              gameSocket.send(JSON.stringify({
              
                'pret':false,
                'Noun' : noun+'N/A',
                'gnoun':gnoun,
                'animal':animal,
                'plants':plants,
                'countries':countries,
                'inanimate':inanimate,
                'sum':sum,
                'UserName' : username,
                'RoomCode' : roomCode,
                'preg':false,
                'main_row':true,
                'admin_letter':admin_letter,
                'error':true,
                'preg':true
                
              
              }))

            }
            else{
              gameSocket.send(JSON.stringify({
              
                'pret':false,
                'Noun' : noun+'N/A',
                'gnoun':gnoun,
                'animal':animal,
                'plants':plants,
                'countries':countries,
                'inanimate':inanimate,
                'sum':sum,
                'UserName' : username,
                'RoomCode' : roomCode,
                'preg':false,
                'main_row':true,
                'admin_letter':admin_letter,
                'error':true,
                'preg':true
                
              
              }))

            }
            
            
            
            document.getElementById('noun').disabled=true
            document.getElementById('gnoun').disabled=true
            document.getElementById('animal').disabled=true
            document.getElementById('plants').disabled=true
            document.getElementById('countries').disabled=true
            document.getElementById('inanimate').disabled=true
            document.getElementById('sum').disabled=true
            console.log('true 204')

            document.getElementById('noun').value = ""
            document.getElementById('gnoun').value = ""
            document.getElementById('animal').value = ""
            document.getElementById('plants').value = ""
            document.getElementById('countries').value = ""
            document.getElementById('inanimate').value = ""
            document.getElementById('sum').value = ""
            //document.getElementById('noun').disabled=true
            //document.getElementById('gnoun').disabled=true
            //document.getElementById('animal').disabled=true
            //document.getElementById('plants').disabled=true
            //document.getElementById('countries').disabled=true
            //document.getElementById('inanimate').disabled=true
            //document.getElementById('sum').disabled=true
          
          
        }
        else if(data.last===true){
         
         
            // Code to run after sleep
            const word = document.querySelector('#noun');
            const noun = word.value;
            const wordgnoun = document.querySelector('#gnoun');
            const gnoun = wordgnoun.value;
            const wordanimal = document.querySelector('#animal');
            const animal = wordanimal.value;
            const wordplants = document.querySelector('#plants');
            const plants = wordplants.value;
            const wordcountries = document.querySelector('#countries');
            const countries = wordcountries.value;
            const wordinanimate = document.querySelector('#inanimate');
            const inanimate = wordinanimate.value;
            const wordsum = document.querySelector('#sum');
            const sum = wordsum.value;
            const admin_letterr =document.getElementById('leetter');
            const admin_letter = admin_letterr.textContent;
            console.log('leeter usa',admin_letter)
            console.log(noun);
            console.log('here is it',gameSocket.onmessage)
  
            gameSocket.send(JSON.stringify({
         
              'pret':true,
              'Noun' : noun+'N/A',
              'gnoun':gnoun,
              'animal':animal,
              'plants':plants,
              'countries':countries,
              'inanimate':inanimate,
              'sum':sum,
              'UserName' : username,
              'RoomCode' : roomCode,
              'preg':false,
              'main_row':true,
              'admin_letter':admin_letter,
              'error':true,
              'preg':false
              
            
            }))
            
            document.getElementById('noun').value = ""
            document.getElementById('gnoun').value = ""
            document.getElementById('animal').value = ""
            document.getElementById('plants').value = ""
            document.getElementById('countries').value = ""
            document.getElementById('inanimate').value = ""
            document.getElementById('sum').value = ""
           
          }
          
          
        
      }
        console.log('our data',data)
        
        if(data.wantletter === false){
        if (data.noun_result !==null && data.gnoun_result!==null && data.countries_result!==null && data.result===true){
          document.getElementById('noun_result'+data.UserName+data.admin_letter).innerHTML = data.noun_result;
          document.getElementById('gnoun_result'+data.UserName+data.admin_letter).innerHTML = data.gnoun_result;
          document.getElementById('animal_result'+data.UserName+data.admin_letter).innerHTML = data.animal_result;
          document.getElementById('plants_result'+data.UserName+data.admin_letter).innerHTML = data.plants_result;
          document.getElementById('countries_result'+data.UserName+data.admin_letter).innerHTML = data.countries_result;
          document.getElementById('inanimate_result'+data.UserName+data.admin_letter).innerHTML = data.inanimate_result;
         // alert(data.UserName +' points is '+data.sum)
         document.getElementById(data.UserName+data.admin_letter+"sum").innerHTML = data.sum;
             alert(data.UserName +' points is '+data.sum)


        }      
        console.log('done');
          
          console.log(data)
          if (data.review === true){
            if(data.oneortwo==='one' && data.players_game!==false){

              const playersfetch=data.players_game
              const fetchedarray = []
              console.log('I want is:',playersfetch)
              console.log('first is',fetchedarray)
              if (typeof playersfetch !== 'undefined'){
              
              for (i of playersfetch){
                if (i !==""){
                  fetchedarray.push(i)
                  console.log('fetchedarray  gis',fetchedarray,i)
                }
                else{
                  break
                }
              }
              console.log('we are dealing with,',fetchedarray)
              for (u of fetchedarray){
                console.log('index is ',u)
              const div = document.createElement("div");
              div.setAttribute('id','div_id'+u);
              document.body.append(div);
              document.getElementById('div_id'+u).innerHTML += (
              '<div dir="rtl" class="accordion" id="'+ 
              'accordionExample'+ u +
              '">'+
                '<div class="accordion-item" >'+
                ' <h2 class="accordion-header" id="headingOne">'+
                    '<button style="font-size:20px;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne'+u+'" aria-expanded="true" aria-controls="collapseOne">'+
                      u +
                    '</button>' +
                  '</h2>'+
                  '<div id="collapseOne'+u+'" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#'
                  +'accordionExample'+u+
                  '">"' +
                  '<div class="accordion-body" ' + 'id="' + u + '">'+
                      '<table class="table">'+
                        '<thead>'+
                          '<tr>'+
                            '<th class="text-center"  scope="col">الحرف </th>'+
                          ' <th class="text-center" scope="col">إسم </th>'+
                            '<th class="text-center" scope="col">إسم بنت</th>'+
                            '<th class="text-center" scope="col">حيوان </th>'+
                            '<th class="text-center" scope="col">نبات </th>'+
                            '<th class="text-center" scope="col">جماد </th>'+
                            '<th class="text-center" scope="col">بلاد </th>'+
                            '<th class="text-center" scope="col">الغرفة </th>'+
                            '<th class="text-center" scope="col">∑</th>'+
                          '</tr>'+
                        '</thead>'+
                        '<tbody id="divv'+u+'">'+
                      
                        '</tbody>'+
                        
                    '</table>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              
                '</div>'
              
                )
              }
              
            
          }
        }
            else if(data.oneortwo==='two' && data.main_row !== false){
              if( document.getElementById('erer'+data.UserName+data.admin_letter)){

              }
              else{
              document.getElementById('divv'+data.UserName).innerHTML += (
                '<tr class="info">'+
                  '<td data-toggle="collapse" data-target="#erer'+ data.UserName +data.admin_letter+'" class="accordion-toggle accordion-button" style="font-size:18px;">'+ data.admin_letter +'</td>'+
               '</tr>'+
                
                `<tr>`+
                 "<table class='table table-striped'>"+
                "<tr class='accordian-body collapse' id='erer"+ data.UserName +data.admin_letter+"'>"+
                  "<td class='text-center' id = 'letterrrq'>"+ data.admin_letter +"</td>"+
                  "<td class='text-center' id = 'noun'>"+ data.noun_review.replace('N/A','') +"</td>"+
                  "<td class='text-center' id = 'gnoun'>"+ data.gnoun +"</td>"+
                  "<td class='text-center' id = 'animalNoun'>"+ data.animal +"</td>"+
                  "<td class='text-center' id = 'plants'>"+data.plants +"</td>"+
                  "<td class='text-center' id = 'inanimate'>"+ data.inanimate +"</td>"+
                  "<td class='text-center' id = 'countries'>"+ data.countries +"</td>"+
                  "<td class='text-center' id = 'room'>"+ data.RoomCode +"</td>"+
                  "<td class='text-center' id = '"+data.UserName +data.admin_letter+"sum'>"+  +"</td>"+  
                "</tr>"+
                "<tr class='accordian-body collapse' id='erer"+ data.UserName +data.admin_letter+"'>"+
                  '<td class="text-center" scope="row"></td>'+
                  '<td class="text-center"  id="noun_result'+data.UserName+data.admin_letter+'"  ></td>'+
                  '<td class="text-center"  id="gnoun_result'+data.UserName+data.admin_letter+'"></td>'+
                  '<td class="text-center"  id="animal_result'+data.UserName+data.admin_letter+'"></td>'+
                  '<td class="text-center"  id="plants_result'+data.UserName+data.admin_letter+'"></td>'+
                  '<td class="text-center"  id="countries_result'+data.UserName+data.admin_letter+'"></td>'+
                  '<td class="text-center"  id="inanimate_result'+data.UserName+data.admin_letter+'"></td>'+
                  '<td class="text-center" scope="row"></td>'+
                  '<td class="text-center" scope="row"></td>'+
                "</tr>"+
                "</table>"+
                "</tr>"
                               
              
        )    }      }
          }
          
          console.log(data)
          if ((data.noun_result===null)||(typeof data.noun_result==='undefined')){

          console.log("pret is ",data.pret)
          
        
         
        if (data.pret===false){
        console.log('DRE IS ' , gameSocket)

          
          if (data){
            console.log("lerrty is ",data.current_letter_this)
            const word = document.querySelector('#noun');
            const noun = word.value;
            const wordgnoun = document.querySelector('#gnoun');
            const gnoun = wordgnoun.value;
            const wordanimal = document.querySelector('#animal');
            const animal = wordanimal.value;
            const wordplants = document.querySelector('#plants');
            const plants = wordplants.value;
            const wordcountries = document.querySelector('#countries');
            const countries = wordcountries.value;
            const wordinanimate = document.querySelector('#inanimate');
            const inanimate = wordinanimate.value;
            const wordsum = document.querySelector('#sum');
            const sum = wordsum.value;
            const admin_letterr =document.getElementById('leetter');
            const admin_letter = admin_letterr.textContent;
            
            

            
            if (typeof data.current_letter_this !=='undefined'){
            //document.querySelector('#leetter').innerHTML = data.current_letter_this;
            console.log('display should be none')
            
         
          }
                
          }else{
           // alert('Message is empty');
          }
          console.log('data ir ' , data.end)
          if(data.end == true){
            doStuff()
          async function doStuff(){
          // Code to run before sleep
          
          // Sleep for 3 seconds
          await new Promise(r => setTimeout(r, 3000));
            const h1Element = document.createElement("h3");
            h1Element.textContent = 'game had been ended';
            document.body.append(h1Element);
            setTimeout(() => {  console.log("World!"); }, 5000);
            var url =  window.location.origin +'/end/' +roomCode + '?username=' + username;
            history.pushState({}, null, url);
            location.reload() 
          }
          }
        }
      }
      else{
        console.log('not wanted',data.noun_result)
                
      }
      }
    }
  }  
    gameSocket.onclose = function (e) {
        console.log('fall ');
      }

      document.querySelector('#done').onclick = function(e){
        gameSocket.onclose=function(e){
          gameSocket=null
          const gameSocket = new WebSocket(
          'wss://' + window.location.host + '/ws/' + roomCode + '/'
        )
        }
        const word = document.querySelector('#noun');
        const noun = word.value;
        const wordgnoun = document.querySelector('#gnoun');
        const gnoun = wordgnoun.value;
        const wordanimal = document.querySelector('#animal');
        const animal = wordanimal.value;
        const wordplants = document.querySelector('#plants');
        const plants = wordplants.value;
        const wordcountries = document.querySelector('#countries');
        const countries = wordcountries.value;
        const wordinanimate = document.querySelector('#inanimate');
        const inanimate = wordinanimate.value;
        const wordsum = document.querySelector('#sum');
        const sum = wordsum.value;
        const admin_letterr =document.getElementById('leetter');
        const admin_letter = admin_letterr.textContent;
       
        
        console.log('leeter usa',admin_letter)
        console.log(noun);
        console.log('here is it',gameSocket.onmessage)
       
        gameSocket.send(JSON.stringify({
          'disabled':true,
          'star':true,
          'pret':true,
          'Noun' : noun+'N/A',
          'gnoun':gnoun,
          'animal':animal,
          'plants':plants,
          'countries':countries,
          'inanimate':inanimate,
          'sum':sum,
          'UserName' : username,
          'RoomCode' : roomCode,
          'preg':false,
          'main_row':true,
          'admin_letter':admin_letter,
          'error':true
          
        
        }))
        document.getElementById('noun').disabled=true
        document.getElementById('gnoun').disabled=true
        document.getElementById('animal').disabled=true
        document.getElementById('plants').disabled=true
        document.getElementById('countries').disabled=true
        document.getElementById('inanimate').disabled=true
        document.getElementById('sum').disabled=true
        console.log('true 530')
      
        document.getElementById('noun').value = ""
        document.getElementById('gnoun').value = ""
        document.getElementById('animal').value = ""
        document.getElementById('plants').value = ""
        document.getElementById('countries').value = ""
        document.getElementById('inanimate').value = ""
        document.getElementById('sum').value = ""
      
        gameSocket.onmessage = function(e){
          const data = JSON.parse(e.data)

          if (data.kick === true ){
            if (data.user === username){
              gameSocket.close()
              var url =  window.location.origin +'/join';
              history.pushState({}, null, url);
              location.reload()   
              console.log('I have been kicked')
            }
            if (data.user !== username){
              document.getElementById('div_id'+data.user).remove()
            }
           }
          
          if (data.letterconsumer !==false&&data.letterconsumer!==''&&typeof data.letterconsumer!=="undefined"){
            console.log('yes false is not')
            console.log('data letter',data)
            document.querySelector('#leetter').innerHTML =data.letterconsumer;
            document.getElementById('noun').disabled=false
            document.getElementById('gnoun').disabled=false
            document.getElementById('animal').disabled=false
            document.getElementById('plants').disabled=false
            document.getElementById('countries').disabled=false
            document.getElementById('inanimate').disabled=false
            document.getElementById('sum').disabled=false
            
          }
          if (data.block === true){
            document.getElementById("leetter").style.display = "block";

          }
          document.getElmentby
        console.log('second messages are',data)
          if (data.noun_result !==null && data.gnoun_result!==null && data.countries_result!==null && data.result===true){
            document.getElementById('noun_result'+data.UserName+data.admin_letter).innerHTML = data.noun_result;
            document.getElementById('gnoun_result'+data.UserName+data.admin_letter).innerHTML = data.gnoun_result;
            document.getElementById('animal_result'+data.UserName+data.admin_letter).innerHTML = data.animal_result;
            document.getElementById('plants_result'+data.UserName+data.admin_letter).innerHTML = data.plants_result;
            document.getElementById('countries_result'+data.UserName+data.admin_letter).innerHTML = data.countries_result;
            document.getElementById('inanimate_result'+data.UserName+data.admin_letter).innerHTML = data.inanimate_result;
            document.getElementById(data.UserName+data.admin_letter+"sum").innerHTML = data.sum;
             alert(data.UserName +' points is '+data.sum)
  
          }   
          
          if (data.UserName!==null &&data.Noun!=='' &&typeof data.UserName!=="undefined"){
            console.log('review rtur',data)
          if(data.private !== true){
            try{
              if (document.getElementById('adnon'+data.UserName+data.admin_letter)){

              }
              else{
                function hidefunc(x,y,x){
                  console.log('doc',document.getElementById(x+y))
          if (window.getComputedStyle(document.getElementById(x+y)).display === 'block'){
                  document.getElementById(x+y).style.display="none"
                  document.getElementById(x+y+z).style.display="none"
                }
                if (window.getComputedStyle(document.getElementById(x+y)).display === 'none'){
                  document.getElementById(x+y).style.display="block"
                  document.getElementById(x+y+z).style.display="block"
                }
                }
                
              console.log('data.username is',data.UserName)
              $('.accordian-body').on('show.bs.collapse', function () {
                $(this).closest("table")
                    .find(".collapse.in")
                    .not(this)
                    .collapse('toggle')
            })
            if( document.getElementById('erer'+data.UserName+data.admin_letter)){

            }
            else{
                document.getElementById('divv'+data.UserName).innerHTML+= (

                  
                  '<tr class="info">'+
                    '<td data-toggle="collapse" data-target="#erer'+ data.UserName +data.admin_letter+'" class="accordion-toggle accordion-button" style="font-size:18px;" >'+ data.admin_letter +'</td>'+
                 '</tr>'+
                  
                  `<tr>`+
                   "<table class='table table-striped'>"+
                  "<tr class='accordian-body collapse' id='erer"+ data.UserName +data.admin_letter+"'>"+
                    "<td class='text-center' id = 'letterrrq'>"+ data.admin_letter +"</td>"+
                    "<td class='text-center' id = 'noun'>"+ data.Noun.replace('N/A','') +"</td>"+
                    "<td class='text-center' id = 'gnoun'>"+ data.gnoun +"</td>"+
                    "<td class='text-center' id = 'animalNoun'>"+ data.animal +"</td>"+
                    "<td class='text-center' id = 'plants'>"+data.plants +"</td>"+
                    "<td class='text-center' id = 'inanimate'>"+ data.inanimate +"</td>"+
                    "<td class='text-center' id = 'countries'>"+ data.countries +"</td>"+
                    "<td class='text-center' id = 'room'>"+ data.RoomCode +"</td>"+
                    "<td class='text-center' id = '"+data.UserName +data.admin_letter+"sum'>"+  +"</td>"+  
                  "</tr>"+
                  "<tr class='accordian-body collapse' id='erer"+ data.UserName +data.admin_letter+"'>"+
                    '<td class="text-center" scope="row"></td>'+
                    '<td class="text-center"  id="noun_result'+data.UserName+data.admin_letter+'"  ></td>'+
                    '<td class="text-center"  id="gnoun_result'+data.UserName+data.admin_letter+'"></td>'+
                    '<td class="text-center"  id="animal_result'+data.UserName+data.admin_letter+'"></td>'+
                    '<td class="text-center"  id="plants_result'+data.UserName+data.admin_letter+'"></td>'+
                    '<td class="text-center"  id="countries_result'+data.UserName+data.admin_letter+'"></td>'+
                    '<td class="text-center"  id="inanimate_result'+data.UserName+data.admin_letter+'"></td>'+
                    '<td class="text-center" scope="row"></td>'+
                    '<td class="text-center" scope="row"></td>'+
                  "</tr>"+
                  "</table>"+
                  "</tr>"
                                        
                    
                
          )     }
          
        }      
        }
            
                  catch(e){
                    console.log('d')
                  }  
            
          }
          }
        
          if ((data.noun_result===null)||(typeof data.noun_result==='undefined')){

          
          if (data.pret === false && data.preg===false){
    
          const current_letter_this = data.choosens 
          console.log('current_letter_this is ',current_letter_this)
          //document.querySelector('#leetter').innerHTML =data.choosens;
          gameSocket.send(JSON.stringify({
            'pret':true,
            'preg':true,
            'current_letter_this':current_letter_this,
            'main_row':false,   
            'RoomCode' : roomCode, 
            'admin_letter': admin_letter,
            'error':true,
            'review':true,
            'last':true
          }))
        }
      }
     
        }
        gameSocket.onclose=function(e){
          gameSocket=null
          const gameSocket = new WebSocket(
          'wss://' + window.location.host + '/ws/' + roomCode + '/'
        )
        }
        
        
        //document.querySelector('#leetter').innerHTML = data.current_letter_this;
        all()
        
      }
      
    }
    function heeer(x,y,z){
      
        var list = document.getElementById(x+y);
        for (var i = 0; i < list.length; i++) {
            list[i].style.display = 'none';
            console.log('i is:',i)
        }
        
    }
  

    </script>
  </div>