<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Join room</title>
{% endblock %}


{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<section dir="ltr">
  <!-- Horizontal material form -->
  <!-- Grid row -->
  <div class="form-group row">
    <!-- Material input -->
    <label style="color: white" for="inputEmail3MD" class="col-sm-2 col-form-label">ENTER ROOM CODE</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input class="form-control" type="text" name="code" id="code" placeholder="ROOM CODE">
      </div>
    </div>
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-group row">
    <!-- Material input -->
    <label style="color: white" for="inputPassword3MD" class="col-sm-2 col-form-label">ENTER YOUR NAME</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input  class="form-control" type="text" name="username" id="username" placeholder="YOUR NAME">
      </div>
    </div>
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" id="submintt" class="btn btn-primary btn-md">Join room</button>
    </div>
  </div>
  <!-- Grid row -->

</section>
<style>
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    
    .close-button:hover {
        background-color: darkgray;
    }
    
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
    </style>
    <button class="trigger">Click here to trigger the modal!</button>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">×</span>
            <h1>{{time}}</h1>
        </div>
    </div>
    <script>
    const modal = document.querySelector(".modal");
    const trigger = document.querySelector(".trigger");
    const closeButton = document.querySelector(".close-button");
    
    function toggleModal() {
        modal.classList.toggle("show-modal");
    }
    
    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }
    
    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
    </script>
    

  <script>
    document.querySelector('#submintt').onclick = function(e) {
     
      
      const roomCode = document.querySelector('#code').value;
      
      const userName = document.querySelector('#username').value;           
      console.log('Ima here' , roomCode,userName)
      

      
      window.location.replace('/wait/'+roomCode+'?username=' + userName)

        

    };
  </script>
{% endblock %}