{% extends 'base.html' %}

{% block title %}
<title>Join room</title>
{% endblock %}


{% block content %}

<section>

      <label for="inputEmail3" class="col-sm-2 control-label">Room Code3</label>
      <div class="col-sm-10">
        <input type="text" name="code" id="code" placeholder="Room code">
      </div>
    </div>

      <label for="inputPassword3" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" name="username" id="username" placeholder="Password">
      </div>
    </div>
  
        <label for="inputPassword3" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <button type="submit" id="submint" class="btn btn-default">admin </button>
        </div>
      
    
  </form>

</section>


  <script>
    window.onload=function(){
      $(function(){
          if(window.location.protocol==="https:")
              window.location.protocol="http";
      });
  }
    document.querySelector('#submint').onclick = function(e) {
      
      const roomCode = document.querySelector('#code').value;
      
      const userName = document.querySelector('#username').value;           
      console.log('Ima here' , roomCode,userName)
      
         var wsStart='ws://'
         var endpoint=wsStart + window.location.host + '/ws/' + roomCode + '/admin/'
         var socket = new WebSocket(endpoint)
        
      
         socket.onopen = function(e){
          socket.send(JSON.stringify({
          'userName':userName,
        }))
        
          var url =  window.location.origin +'/wait/' +roomCode + '?username=' + userName;
          history.pushState({}, null, url);
          location.reload()   
  
      }

      
  
        

    };
  </script>
{% endblock %}