<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Join room</title>
{% endblock %}


{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<section dir="ltr">
  <!-- Horizontal material form -->
  <!-- Grid row -->
  <div class="form-group row">
    <!-- Material input -->
    <label style="color: white" for="inputEmail3MD" class="col-sm-2 col-form-label">ENTER ROOM CODE</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input class="form-control" type="text" name="code" id="code" placeholder="ROOM CODE">
      </div>
    </div>
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-group row">
    <!-- Material input -->
    <label style="color: white" for="inputPassword3MD" class="col-sm-2 col-form-label">ENTER YOUR NAME</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input  class="form-control" type="text" name="username" id="username" placeholder="YOUR NAME">
      </div>
    </div>
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" id="submintt" class="btn btn-primary btn-md">Join room</button>
    </div>
  </div>
  <!-- Grid row -->

</section>


  <script>
    document.querySelector('#submintt').onclick = function(e) {
     
      
      const roomCode = document.querySelector('#code').value;
      
      const userName = document.querySelector('#username').value;           
      console.log('Ima here' , roomCode,userName)
      

      
      window.location.replace('/wait/'+roomCode+'?username=' + userName)

        

    };
  </script>
{% endblock %}