{% extends 'base.html' %}

{% load num %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- HTML code -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Quizz</a>
  </li>
   
  
    <li class="nav-item">
      <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Created animal game</a>
    </li>

  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Created Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab6-tab" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Deleted Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab9-tab" data-toggle="tab" href="#tab9" role="tab" aria-controls="tab9" aria-selected="false">Played Quiz</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
        <br>

        {% for i in z %}

        {% if i|is_numberic %}
        <center>
          <div id="addw{{i}}">
          <button type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</button>
          <i type="button" class="fas fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i}}">
          </i>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete question ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You cant Undo this..</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="deleteItem('{{i}}')">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        </center>
        <br>
        <hr>
    
        
    {% else %}
    <center>
    <h3 id="dww{{i}}">{{i}}</h3>
</center>
    {% endif %}
    
    
    
    {% endfor %}
  </div>

  <div class="tab-pane fade show active" id="tab9" role="tabpanel" aria-labelledby="tab9-tab">
    <br>

    {{played}}

    {% for i in played %}
    <h3>{{i}}</h3>
    {% endfor %}
</div>

    <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-tab">
      {% for i in e %}

      {% if i|is_numberic %}
      <center>
        <div id="addw{{i}}">
          <i type="button" class="fas fa-undo" onclick="restore('{{i}}')">
          </i>
        <button type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</button>
        <i type="button" class="fas fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i}}">
        </i>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel{{i}}" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel{{i}}">Delete question ?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p>You cant Undo this..</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger" onclick="deleteItem('{{i}}')">Delete</button>
                  </div>
              </div>
          </div>
      </div>
      </div>
      
      </center>
      <br>
      <hr>

      
  {% else %}
  <center>
  <h3 id="dww{{i}}">{{i}}</h3>
  </center>
  {% endif %}



  {% endfor %}   
  </div>

</div>
</div>


  <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="tab7-tab" data-toggle="tab" href="#tab7" role="tab" aria-controls="tab7" aria-selected="true">Created</a>
      </li>
       
      
        <li class="nav-item">
          <a class="nav-link" id="tab8-tab" data-toggle="tab" href="#tab8" role="tab" aria-controls="tab8" aria-selected="false">Played</a>
        </li>
    
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab7" role="tabpanel" aria-labelledby="tab7-tab">
          <br>
          {% for i in c %}

          {% if i|is_numberic %}
          <center>
          <button type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</button></center>
          {% else %}
          <center>
          <h3 >{{i}}</h3>
          <hr>
          </center>
          {% endif %}



          {% endfor %}

        </div>
        <div class="tab-pane fade show active" id="tab8" role="tabpanel" aria-labelledby="tab8-tab">
          <br>
          <center>
            {% for i in y %}
            
            <button type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</button>
            <hr>
            {% endfor %}
            </center>
        </div>
      </div>

</div>



  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

  <script>
    
    const lang1 = '{{lang}}'

    if(lang1=='arabic'){
      document.getElementById('tab1-tab').innerHTML = 'الإختبارات'
      document.getElementById('tab3-tab').innerHTML = 'لعبة أسماء حيوان جماد'
      document.getElementById('tab5-tab').innerHTML = 'إختبارات تم إنشاؤها'
      document.getElementById('tab6-tab').innerHTML = 'إختبارات محذوفة'
      document.getElementById('tab7-tab').innerHTML = 'تم إنشاؤها'
      document.getElementById('tab8-tab').innerHTML = 'تم لعبها'

     
    }
    function restore(code){

      fetch('/api/endpoint_restore/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(code)})
      .then(response => response.json())
      .then(data => {
  
      document.getElementById('addw'+code).remove();
      location.reload()
    })
      .catch(error => console.error(error));
      
    }
    function deleteItem(code1){
      console.log('gweg',code1)
      var myModal = document.getElementById('exampleModal'+code1);
              var modal = bootstrap.Modal.getInstance(myModal);
              modal.hide();
      fetch('/api/endpoint5/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(code1)})
      .then(response => response.json())
      .then(data => {
  
      document.getElementById('addw'+code1).remove();
      location.reload()
    })
      .catch(error => console.error(error));
      
    }
      function redirect(code){
         
    // Store the current page state in a session storage variable
  sessionStorage.setItem("pageState", "redirected");
  
  // Redirect to the new URL using window.location
  window.location.href = window.location.origin +'/account/game/quiz/' +code
  
  // Add an event listener for the "pageshow" event, which is triggered when the user navigates back to the page
  window.addEventListener("pageshow", function(event) {
    // Check if the page state is set to "redirected"
    if (sessionStorage.getItem("pageState") === "redirected") {
      // Reload the page to update its content
      window.location.reload();
      // Reset the page state to avoid an infinite loop
      sessionStorage.setItem("pageState", "reloaded");
    }
  });
      }
  
  
  
  </script>
  

{% endblock %}