<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Create New room</title>
{% endblock %}
{% block content %}
<center>
    
{% for i in z %}

{% if isnumeric(i) %}
<button type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</button>
{% else %}
<h3 type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</h3>

{% endif %}



{% endfor %}
</center>
<div id="dis"></div>
<script>
    function redirect(code){
        console.log('mu code',code)
        var url =  window.location.origin +'/account/myaccount/' +code;
          history.pushState({}, null, url);
          location.reload()   
    }
</script>

{% endblock %}