{% extends 'base.html' %}
{% block content %}

<input type="text" name="" id="pass">
<button id="sub">sub</button>

<script>
    let pass1=''
    roomCode='{{room_code}}'
    const gameSocketquiz = new WebSocket(
        
    'wss://' + window.location.host + '/ws/' + roomCode + '/quiz/'
  )
  gameSocketquiz.onmessage=function(e){
    const data = JSON.parse(e.data)
    if (data.mypass!=false){
        console.log('gwegcc')
        pass1=data.mypass
            }

  }

  document.getElementById('sub').onclick=function(){
    txt = document.getElementById('pass').value
    if (txt === pass1) {
        alert('donee');
        fetch('/api/red/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
          },
          body: JSON.stringify({ password: 'passw' }) // Pass an object instead of a string
        })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Error: ' + response.status);
          })
          .then(data => {
            alert('Quiz created successfully');
            // You can perform additional actions with the response data if needed
          })
          .catch(error => {
            alert('Please check all fields are correct!!');
            console.error(error);
          });
      }
       }
</script>
{% endblock %}