{% extends 'base.html' %}


{% block content %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<body>
    <div class="container">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <button type="submit" id="button" class="btn btn-primary">Submit</button>
    </div>
  </body>

<script>
    
    document.getElementById('button').onclick = function(){
        room = '{{room_code}}'
        let arr = []

        
        x=document.getElementById('password').value()

        arr.push(room)
        arr.push(x)
        fetch('/api/endpointpassword/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(arr)})
          .then(response => response.json())
          .then(data => alert('Quiz created successfuly, You can View,Edit,Challenge the quiz from Your profile >> created games >> quiz >> and select your quiz..'))
          .catch(error => console.error(error));

        
    }
</script>
{% endblock %}