{% extends 'base.html' %}
{% block content %}

<input type="text" name="" id="pass">
<button id="sub">sub</button>

<script>
    let pass1=''
    roomCode='{{room_code}}'
    const gameSocketquiz = new WebSocket(
        
    'wss://' + window.location.host + '/ws/' + roomCode + '/quiz/'
  )
  gameSocketquiz.onmessage=function(e){
    const data = JSON.parse(e.data)
    if (data.mypass!=false){
        console.log('gwegcc')
        pass1=data.mypass
            }

  }

  document.getElementById('sub').onclick=function(){
    txt = document.getElementById('pass').value

    if (txt === pass1){
        alert('donee')
        fetch('/api/red/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify('passw')})
          .then(response => response.json())
          .then(data =>alert('Quiz created successfuly, You can View,Edit,Challenge the quiz from My activity panel'))
          .catch(error => alert('Please check all fields are correct!!'));


    }
  }
</script>
{% endblock %}