{% extends 'base.html' %}
{% block content %}

<input type="text" name="" id="pass">
<button id="sub">sub</button>

<script>
    roomCode='{{room_code}}'
    const gameSocketquiz = new WebSocket(
        
    'wss://' + window.location.host + '/ws/' + roomCode + '/quiz/'
  )
  gameSocketquiz.onmessage=function(e){
    const data = JSON.parse(e.data)
    if (data.mypass!=false){
        console.log('gwegcc')
        let pass1=data.mypass

    }

  }

  document.getElementById('sub').onclick=function(){
    txt = document.getElementById('pass').value

    if (txt === pass1){
        alert('donee')
    }
  }
</script>
{% endblock %}