<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Create New room</title>
{% endblock %}
{% block content %}
<center>
{% for i in z %}

<button type="submit" class="btn btn-primary" id="{{i}}" onclick="redirect('{{i}}')" style="background-color: green;">{{i}}</button>

{% endfor %}
</center>
<div id="dis"></div>
<script>
    function redirect(code){
        console.log('mu code',code)
        
        sessionStorage.setItem("pageState", "redirected");

        // Redirect to the new URL using window.location
        window.location.href = window.location.origin +'/account/played/' +code;
        
        // Add an event listener for the "pageshow" event, which is triggered when the user navigates back to the page
        window.addEventListener("pageshow", function(event) {
          // Check if the page state is set to "redirected"
          if (sessionStorage.getItem("pageState") === "redirected") {
            // Reload the page to update its content
            window.location.reload();
            // Reset the page state to avoid an infinite loop
            sessionStorage.setItem("pageState", "reloaded");
          }
        });
    }
</script>

{% endblock %}