{% extends 'base.html' %}
{% block content %}
<body dir="ltr" id="body">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container" id="quiz">
    <div class="form-group">
      <label id="fee" for="quiz-name">Quiz Name:</label>
      <input type="text" class="form-control" id="name" name="quiz-name">
    </div>
    <div class="form-group">
      <label id="vewv" for="quiz-code">Quiz Code:</label>
      <label id="vewv" for="quiz-code">{{ran_code}}</label>
    </div>
    <div class="form-group">
      <label id="vewv3" for="quiz-code">Quiz password: <small>(You can use this to allow quizzes to be administered from another account and to allow players to play)</small></label>
      <input type="password" class="form-control" id="pass" name="quiz-pass">
    </div>
    <div class="form-check form-switch gg" style="">
      <input class="form-check-input ee" type="checkbox" id="privateToggle">
      <label class="form-check-label ff" id="prii" for="privateToggle">Private</label>
    </div>
    
    <hr style="color: black;">
    <script>
      window.onbeforeunload = function (e) {
        
        e = e || window.event;
    
        // For IE and Firefox prior to version 4
        if (e) {
            e.returnValue = 'Sure?';
            
        }
    
        // For Safari
        return 'Sure?';
      
    };
    </script>
<script>
  window.onload=function(){
    
    document.getElementById('add').click()
  }
  window.onbeforeunload = function (e) {
        
    e = e || window.event;

    // For IE and Firefox prior to version 4
    if (e) {
        e.returnValue = 'Sure?';
        
    }

    // For Safari
    return 'Sure?';
  
};
  const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})

</script>
</div>
<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="container">

<button id="add" type="button" class="btn" onclick="add()">Add Another Question</button>

<button id='doonee' type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create quiz
          </button>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create quiz ?</h5>
              <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>You cant Undo this..</p>
          </div>
          <div class="modal-footer">
              <button type="button" id="closex" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="sub" class="btn">Create</button>
          </div>
      </div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script>
  function splitAndFill(questionCount) {
      var inputText = document.getElementById("inputText"+questionCount).value.trim();
      var lines = inputText.split('\n');

      if (lines.length >= 5) {
          document.getElementById("question}").value = lines[0].trim();
          document.getElementById("answer1"+questionCount).value = lines[1].trim();
          document.getElementById("answer2"+questionCount).value = lines[2].trim();
          document.getElementById("answer3"+questionCount).value = lines[3].trim();
          document.getElementById("answer4"+questionCount).value = lines[4].trim();
      }
      // Add more handling if you have more than 5 lines or less than 5 lines
  }
</script>
<script>
  document.querySelectorAll('#vewv').forEach(c=>{
    c.style.display='none'
  })
  window.onbeforeunload = function (e) {
        
    e = e || window.event;

    // For IE and Firefox prior to version 4
    if (e) {
        e.returnValue = 'Sure?';
        
    }

    // For Safari
    return 'Sure?';
  
};

    const lang1 = '{{lang}}'

    if(lang1=='arabic'){
      document.getElementById('vewv3').innerHTML='كلمة مرور الاختبار: <small>(يمكنك استخدام هذا للسماح بإدارة الاختبار من حساب آخر والسماح لللاعبين بالانضمام)</small>'
      document.getElementById('fee').innerHTML = 'إسم الإختبار'
      document.getElementById('vewv').innerHTML = 'رمز الإختبار'
      document.getElementById('add').innerHTML = 'إضافة سؤال آخر'
      document.getElementById('sub').innerHTML = 'إنشاء الإختبار'
      document.getElementById('doonee').innerHTML = 'إنشاء الإختبار'
      document.getElementById('prii').innerHTML='خاص'
      document.getElementById('sub').style.float='right'
      document.getElementById('doonee').style.float='right'
      document.querySelector('.gg').style.textAlign= 'right';
      document.querySelector('.ee').style.float= 'right';
      document.querySelector('.ff').style.float= 'right';
      document.getElementById('add').style.float='right'
      //document.getElementById('privateToggle').style.float='right'
      const labels = document.querySelectorAll('label');
      labels.forEach(label => {
        label.style.float = 'right'
      });
    }
  
let questionCount = 0;

function add() {
  const lang1 = '{{lang}}'
  if(lang1=='arabic'){
  const labels = document.querySelectorAll('label');
      labels.forEach(label => {
        label.style.float = 'right'
      });
    }
  questionCount++;

  const question = document.createElement("div");
  question.classList.add("question"+questionCount);

  question.innerHTML = `
  <div class="form-group">

<textarea id="inputText${questionCount}" rows="6" cols="40"></textarea>

<button type="button" onclick="splitAndFill(${questionCount})">Split Text</button>

    <label id="qqq${questionCount}" for="question-${questionCount}">Question ${questionCount}:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="question${questionCount}" name="question">
      <div class="input-group-append">
        <span style="cursor: pointer;" id="span${questionCount}" class="input-group-text" onclick="deleteQuestion(${questionCount})">
          <i style="color:red;" class="fas fa-trash"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label id='tt' for="quiz-timer">Timer Duration (in seconds):</label>
    <input type="number" class="form-control" id="seconds-input${questionCount}" name="quiz-timer" value="60">
  </div>

  <div class="form-group">
    <label id="for1${questionCount}" for="option-${questionCount}-1"></label>
    <div class="input-group">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="correct${questionCount}" id="correct${questionCount}-1" value="1">
        <label class="form-check-label" for="option-${questionCount}-1"></label>
      </div>
      <input type="text" class="form-control" id="answer1${questionCount}" name="optionanswerquestionCount}">
    </div>
  </div>

  <div class="form-group">
    <label id="for2${questionCount}" for="option-${questionCount}-2"></label>
    <div class="input-group">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="correct${questionCount}" id="correct${questionCount}-2" value="2">
        <label class="form-check-label" for="option-${questionCount}-2"></label>
      </div>
      <input type="text" class="form-control" id="answer2${questionCount}" name="optionanswerquestionCount}">
    </div>
  </div>

  <div class="form-group">
    <label id="for3${questionCount}" for="option-${questionCount}-3"></label>
    <div class="input-group">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="correct${questionCount}" id="correct${questionCount}-3" value="3">
        <label class="form-check-label" for="option-${questionCount}-3"></label>
      </div>
      <input type="text" class="form-control" id="answer3${questionCount}" name="answer${questionCount}">
    </div>
  </div>

  <div class="form-group">
    <label id="for4${questionCount}" for="option-${questionCount}-4"></label>
    <div class="input-group">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="correct${questionCount}" id="correct${questionCount}-4" value="4">
        <label class="form-check-label" for="option-${questionCount}-4"></label>
      </div>
      <input type="text" class="form-control" id="answer4${questionCount}" name="answer${questionCount}">
    </div>
  </div>
  <hr>
`;

  document.getElementById("quiz").appendChild(question);
  if(lang1=='arabic'){
    const labels = document.querySelectorAll('label');
        labels.forEach(label => {
          label.style.float = 'right'
        });
        document.getElementById('qqq'+questionCount).innerHTML = 'السؤال'+questionCount+':'
        document.querySelectorAll('#tt').forEach(t=>{
          t.innerHTML='وقت السؤال بالثواني:'
        })


      }
}

    function deleteQuestion(q){
      const elements = document.getElementsByClassName('question'+q);

        while(elements.length > 0) {
          elements[0].parentNode.removeChild(elements[0]);
        }

        
        console.log('q is',q,'count is',questionCount)
        if((parseInt(q))<questionCount){
          console.log('aaaas')
          for(let i=q;i<= questionCount;i++){
            console.log('i is',i)
            try{
            document.getElementById('qqq'+i).innerHTML=('question'+(i-1))
            document.getElementById('question'+i).id=('qestion'+(i-1))
            document.getElementById('span'+i).setAttribute("onclick", "deleteQuestion(" + (i-1) + ")");
            document.getElementById('seconds-input'+i).id=('seconds-input'+(i-1))

            document.getElementById('for1'+i).setAttribute('for','option-'+(i-1)+'-1')
            document.getElementById('for2'+i).setAttribute('for','option-'+(i-1)+'-2')
            document.getElementById('for3'+i).setAttribute('for','option-'+(i-1)+'-3')
            document.getElementById('for4'+i).setAttribute('for','option-'+(i-1)+'-4')
            
            document.getElementById('for1'+i).id=('for1'+(i-1))
            document.getElementById('for2'+i).id=('for2'+(i-1))
            document.getElementById('for3'+i).id=('for3'+(i-1))
            document.getElementById('for4'+i).id=('for4'+(i-1))
            
            document.getElementById('correct'+i+'-1').setAttribute('name','correct'+(i-1))
            document.getElementById('correct'+i+'-2').setAttribute('name','correct'+(i-1))
            document.getElementById('correct'+i+'-3').setAttribute('name','correct'+(i-1))
            document.getElementById('correct'+i+'-4').setAttribute('name','correct'+(i-1)) 

            document.getElementById('correct'+i+'-1').id=('correct'+(i-1)+'-1')
            document.getElementById('correct'+i+'-2').id=('correct'+(i-1)+'-2')
            document.getElementById('correct'+i+'-3').id=('correct'+(i-1)+'-3')
            document.getElementById('correct'+i+'-4').id=('correct'+(i-1)+'-4')

            document.getElementById('answer1'+i).id=('answer1'+(i-1))
            document.getElementById('answer2'+i).id=('answer2'+(i-1))
            document.getElementById('answer3'+i).id=('answer3'+(i-1))
            document.getElementById('answer4'+i).id=('answer4'+(i-1))

            var elements2= document.getElementsByClassName("question"+i);

            // Loop through each element and change the class name
            for (var x = 0; x < elements2.length; x++) {
            elements2[x].className = "question"+(i-1);
            }
              // Change the question count variable
            }
          
          
          catch(err){
            console.log(err.message)

          }

          }
        }
        if (q=questionCount){
          questionCount = questionCount-1
          
          
          
        }


    }
      document.getElementById('sub').onclick=function(e){
        function checkEmptyFields() {
          var fields = document.querySelectorAll('input, select, textarea'); // Select all input, select, and textarea fields
          var radioGroupNames = {}; // To track radio button groups
          
          for (var i = 0; i < fields.length; i++) {
            var fieldType = fields[i].type.toLowerCase();
            
            if (fieldType === 'text' || fieldType === 'password' || fieldType === 'textarea' || fieldType === 'select-one' || fieldType === 'select-multiple') {
              if (fields[i].value.trim() === '') {
                return true; // Found an empty field
              }
            } else if (fieldType === 'checkbox') {
              if (fields[i].checked && fields[i].value.trim() === '') {
                return true; // Found an empty checkbox with value
              }
            } else if (fieldType === 'radio') {
              var groupName = fields[i].name;
              
              if (!(groupName in radioGroupNames)) {
                radioGroupNames[groupName] = true;
                
                var radioButtons = document.querySelectorAll('input[type="radio"][name="' + groupName + '"]');
                var isChecked = false;
                
                for (var j = 0; j < radioButtons.length; j++) {
                  if (radioButtons[j].checked) {
                    isChecked = true;
                    break;
                  }
                }
                
                if (!isChecked) {
                  return true; // No option selected for the radio button group
                }
              }
            }
          }
          
          return false; // No empty fields found
        }
            var hasEmptyFields = checkEmptyFields();

        if (hasEmptyFields) {
          alert('Please check all inputs')
        } else 
        {
          console.log('All fields are filled.');
               
        document.getElementById('sub').disabled=true
        document.getElementById('closex').disabled=true
        document.getElementById('close').disabled=true


        
        const pass = document.getElementById('pass').value
        quiz_data = document.getElementById('quiz').innerHTML

        console.log('tt')
        let data = []
          for (let i = 0; i <= questionCount; i++){
            try{
              console.log('this is ',i)
          const question= (document.getElementById('question'+i).value).replace(",", "-").replace(/["']/g, "").replace(/\\/g,'÷')

          const answer1= (document.getElementById('answer1'+i).value).replace(",", "-").replace(/["']/g, "").replace(/\\/g,'÷')
          const answer2= (document.getElementById('answer2'+i).value).replace(",", "-").replace(/["']/g, "").replace(/\\/g,'÷')
          const answer3= (document.getElementById('answer3'+i).value).replace(",", "-").replace(/["']/g, "").replace(/\\/g,'÷')
          const answer4= (document.getElementById('answer4'+i).value).replace(",", "-").replace(/["']/g, "").replace(/\\/g,'÷')
          const time= document.getElementById('seconds-input'+i).value
          console.log(question,answer1,answer2,answer3,answer4,time)

          const corr = document.querySelector('input[name="correct'+i+'"]:checked').value
          data.push(question,answer1,answer2,answer3,answer4,corr,time)


        }
        catch(err){
          console.log(err)
          continue

        }
          }
        const code = '{{ran_code}}'
        const name = document.getElementById('name').value
        const privateToggle = document.querySelector('#privateToggle');
        if (privateToggle.checked) {
        private = true
        
        }
        else{
          private = false
        }
        data.push(code)
        data.push(private)
        data.push(name)
        fetch('/api/endpoint/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)})
        .then(response => response.json())
        .then(data => {
          console.log('fewfew')
          fetch('/api/endpointpass/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(passw)})
          .then(response => response.json())
          .then(data =>alert('Quiz created successfuly, You can View,Edit,Challenge the quiz from My activity panel'))
          .catch(error => alert('Please check all fields are correct!!'));
          document.getElementById('sub').disabled=false
          document.getElementById('closex').disabled=false
          document.getElementById('close').disabled=false
          sessionStorage.setItem("pageState", "redirected");
          const inputs = document.querySelectorAll("button, input[type='text']");

          // Loop through each input and disable it
          inputs.forEach(input => {
            input.disabled = true;
          });
          // Redirect to the new URL using window.location
          var myModal = document.getElementById('exampleModal');
              var modal = bootstrap.Modal.getInstance(myModal);
              modal.hide();
              document.getElementById('sub').disabled=false
        document.getElementById('closex').disabled=false
        document.getElementById('close').disabled=false
          window.location.href = window.location.origin +'/account/game/quiz/' +code
          
          // Add an event listener for the "pageshow" event, which is triggered when the user navigates back to the page
          window.addEventListener("pageshow", function(event) {
            // Check if the page state is set to "redirected"
            if (sessionStorage.getItem("pageState") === "redirected") {
              // Reload the page to update its content
              window.location.reload();
              // Reset the page state to avoid an infinite loop
              sessionStorage.setItem("pageState", "reloaded");
            }
          });

        })
        .catch(error => alert('Please check all fields are correct!!'));
        document.getElementById('sub').disabled=false
        document.getElementById('closex').disabled=false
        document.getElementById('close').disabled=false

          let passw = []
          passw.push(pass)
          passw.push(code)

     

      }


      

    } 

    
</script>

</body>

{% endblock %}