<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Room</title>
{% endblock %}

{% block content %}
<div class="container">

<section>
    <div class="d-grid gap-2">
        
        <a class="nav-link text-center display-6" href="/account/home"><span id="fqweg"> Hello, </span>{{request.user.username}}</a>
        <button class="btn btn-primary" type="submit" id="Create"><h1 id="gwg" class="display-6">Create new game</h1>  </button>
        <button class="btn btn-primary" type="submit" id="Join"><h1 id="fwgr" class="display-6">  Join a game </h1> </button>
        

    </div>
 
  <h4 id="error"></h4>
</section>

<div class="card-container">
<div class="container">
  <h2 id="vwjnj">Last created quiz</h2>
  <div class="row">
    {% for i in w %}
    <div class="col-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <center>
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text"> <span class="span22">Question</span> {{ i.num }}</p>
            <p class="card-text"><small class="text-muted"><span class="jnvwj"> Created on: </span>{{ i.date }}</small></p>
            <a href="#" class="btn btn-primary vevv">Go to details</a>
          </center>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>


</div>


<script>
  if(lang=='arabic'){
    document.getElementById('fqweg').innerHTML = 'مرحبا '
    document.getElementById('gwg').innerHTML = 'لعبة جديدة'
    document.getElementById('fwgr').innerHTML = 'الإنضمام إلى لعبة'
    document.getElementById('vwjnj').innerHTML = 'آخر الاختبارات التي تم إنشاؤها'
    document.

    document.querySelectorAll('.span22').forEach(span=>{
      span.innerHTML = 'سؤال'
    })

    document.querySelectorAll('.jnvwj').forEach(span1=>{
      span1.innerHTML = 'تم إنشاؤه في: '
    })

    document.querySelectorAll('.vevv').forEach(span2=>{
      span2.innerHTML = 'التفاصيل'
    })

    

    
  }

    

        function toggleFullScreen() {
            if ((document.fullScreenElement && document.fullScreenElement !== null) ||    
             (!document.mozFullScreen && !document.webkitIsFullScreen)) {
              if (document.documentElement.requestFullScreen) {  
                document.documentElement.requestFullScreen();  
              } else if (document.documentElement.mozRequestFullScreen) {  
                document.documentElement.mozRequestFullScreen();  
              } else if (document.documentElement.webkitRequestFullScreen) {  
                document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);  
              }  
            } else {  
              if (document.cancelFullScreen) {  
                document.cancelFullScreen();  
              } else if (document.mozCancelFullScreen) {  
                document.mozCancelFullScreen();  
              } else if (document.webkitCancelFullScreen) {  
                document.webkitCancelFullScreen();  
              }  
            }  
          }
    
    document.querySelector('#Create').onclick = function(e){


        sessionStorage.setItem("pageState", "redirected");

// Redirect to the new URL using window.location
window.location.href = window.location.origin +'/create/type'

// Add an event listener for the "pageshow" event, which is triggered when the user navigates back to the page
window.addEventListener("pageshow", function(event) {
  // Check if the page state is set to "redirected"
  if (sessionStorage.getItem("pageState") === "redirected") {
    // Reload the page to update its content
    window.location.reload();
    // Reset the page state to avoid an infinite loop
    sessionStorage.setItem("pageState", "reloaded");
  }
});

    };

    
    document.getElementById('Join').onclick = function(e) {
        sessionStorage.setItem("pageState", "redirected");

// Redirect to the new URL using window.location
window.location.href = window.location.origin +'/join'

// Add an event listener for the "pageshow" event, which is triggered when the user navigates back to the page
window.addEventListener("pageshow", function(event) {
  // Check if the page state is set to "redirected"
  if (sessionStorage.getItem("pageState") === "redirected") {
    // Reload the page to update its content
    window.location.reload();
    // Reset the page state to avoid an infinite loop
    sessionStorage.setItem("pageState", "reloaded");
  }
});

    }
</script>
{% endblock %}