<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
<title>Room Admin</title>

{% endblock %}
{% block content %}

    <h1>Waiting to start the game...</h1>
    
    {{ room_code|json_script:'json-roomcode' }}
    {{ username|json_script:'json-username'  }}
    <script>
        const username = JSON.parse(document.getElementById('json-username').textContent);

        const roomCode = JSON.parse(document.getElementById('json-roomcode').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        const random = Math.random() * 100
        console.log("it is " , roomCode,userName)
        const gameSocket = new WebSocket(
              
        'wss://' + window.location.host + '/ws/' + roomCode + '/admin/'
      )
      gameSocket.onopen = function(e){
        gameSocket.send(JSON.stringify({
          'userName':userName,
          'random':random
        }))
        
         
  
      }
        
        const gameSocketkick = new WebSocket(
        'wss://' + window.location.host + '/ws/' + roomCode + '/'
        )
        gameSocketkick.onmessage = function(e){
        const data = JSON.parse(e.data)

        if (data.kick === true ){
            if (data.user === username){
              gameSocket.close()
              var url =  window.location.origin +'/join';
              history.pushState({}, null, url);
              location.reload()   
              console.log('I have been kicked')
            }
            if (data.user !== username){
              document.getElementById('div_id'+data.user).remove()
            }
           }
           
        }
        gameSocket.onmessage = function (e) {
            console.log('done');
            const data = JSON.parse(e.data);
            console.log(data)
            if (data){
                const start = data.started;
                console.log(start)
                if (start == true) {
                    var url =  window.location.origin +'/join/' +roomCode + '?username=' + userName;
                    history.pushState({}, null, url);
                    location.reload()
                }
            }else{
                alert('Message is empty');
            }
            if(data.Usere === username && data.random === random){

              var url =  window.location.origin +'/join/';
                      history.pushState({}, null, url);
                      location.reload()
             }


        }

        gameSocket.onclose = function (e) {
            console.log('fall ');
        }

    </script>
{% endblock %}